<footer>
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32"
  >
    <div class="xl:gap-8 xl:grid xl:grid-cols-3">
      <div
        class="lg:inline-flex lg:items-end justify-between w-full xl:col-span-3"
      >
        <div>
          <a
            title="Laboratorio del Benessere"
            aria-label="Home"
            href="/"
            class="text-xl lg:text-4xl inline-flex items-center font-medium"
          >
            Laboratorio del Benessere
          </a>
          <p class="mt-12 text-gray-500 text-lg lg:text-xl text-balance">
            Un percorso olistico per il benessere del corpo, della mente e dello spirito.
          </p>
        </div>
        <form class="flex max-w-xl flex-col items-center">
          <div class="flex w-full flex-col gap-1 sm:flex-row">
            <label for="email" class="sr-only">Indirizzo email</label>
            <input
              id="email"
              name="email"
              type="email"
              placeholder="Inserisci email..."
              aria-label="Inserisci email..."
              required=""
              class="lg:px-12 px-6 py-4 bg-white placeholder-gray-400 border border-gray-300 duration-200 focus:outline-none focus:ring focus:ring-light-blue-100 focus:border-light-blue-300 w-full rounded-full"
            /><button
              type="submit"
              aria-label="Iscriviti alla newsletter"
              class="inline-flex items-center justify-center w-auto lg:px-12 px-6 py-4 text-center text-black duration-500 bg-light-blue-50 font-medium rounded-full text-base focus:outline-none focus:ring-2 focus:ring-offset-2 hover:text-white ring-offset-2 hover:bg-light-blue-900"
            >
              Iscriviti
            </button>
          </div>
        </form>
      </div>

      <div
        class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-6 xl:col-span-3 border-t border-gray-300 pt-12 text-base text-gray-500"
      >
        <div class="md:gap-8 md:grid md:grid-cols-2">
          <div>
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Servizi
            </h3><ul class="mt-4 space-y-2" role="list">
              <li>
                <a
                  title="Trattamenti Ayurvedici"
                  aria-label="Trattamenti Ayurvedici"
                  href="/servizi"
                  class="hover:text-regent-600">Trattamenti Ayurvedici</a
                >
              </li>
              <li>
                <a
                  title="Counseling"
                  aria-label="Counseling"
                  href="/servizi"
                  class="hover:text-regent-600">Counseling</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Social
            </h3><ul class="mt-4 space-y-2" role="list">
              <li>
                <a
                  title="Instagram"
                  aria-label="Instagram"
                  href="#"
                  class="hover:text-regent-600">Instagram</a
                >
              </li><li>
                <a
                  title="Facebook"
                  aria-label="Facebook"
                  href="#"
                  class="hover:text-regent-600">Facebook</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:gap-8 md:grid md:grid-cols-2">
          <div>
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Contatti
            </h3>
            <ul class="mt-4 space-y-2" role="list">
              <li>
                <a
                  title="Prenota"
                  aria-label="Prenota"
                  href="/contatti"
                  class="hover:text-regent-600">Prenota</a
                >
              </li><li>
                <a
                  title="Dove Sono"
                  aria-label="Dove Sono"
                  href="/contatti"
                  class="hover:text-regent-600">Dove Sono</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Info
            </h3><ul class="mt-4 space-y-2" role="list">
              <li>
                <a
                  title="Chi Sono"
                  aria-label="Chi Sono"
                  href="/about"
                  class="hover:text-regent-600">Chi Sono</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-balance mt-24">
      &copy; <span x-text="new Date().getFullYear()"></span> Laboratorio del Benessere. Tutti i diritti riservati.
    </div>
  </div>
</footer>
